.message
{
    width:260px;
    height:210px;
    padding: 5px;
    border: 2px solid black;
    overflow-y: scroll;

}
.messages
{
    color: slategrey;
}
#text
{
    width:260px;
    height:40px;
    padding: 5px;
    margin-top:5px;
    font: 1em Arial;

}